RewriteEngine On

# deny access to some locations
RewriteRule ^/?(\.git|config|src|vendor) - [F]
RewriteRule /?check_codingstyle\.sh$ - [F]
RewriteRule /?(README\.md|composer\.json|composer\.lock|mypear\.xml|phpdoc\.dist\.xml)$ - [F]
RewriteRule ^/?log/.*$ - [F,L]
